@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #D1BB9E;
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    min-height: 66px;
    background-color: #A79277;
    padding: 8px 16px;
    color: #ffffff;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    background-image: url('../images/pattern.svg');
    background-repeat: repeat;
    background-size: cover;
}

.description {
    font-weight: 300;
    color: #e3e3e3;
    margin: 8px auto;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 24px 16px;
}

.category-card {
    height: 200px;
    border-radius: 8px;
    background-color: #A79277;
    font-size: 24px;
    font-weight: 300;
    background-size: cover;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.category-card:hover {
    font-size: 32px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    box-shadow: rgba(149, 157, 165, 0.5) 0 8px 24px;
}

.category-card span {
    position: absolute;
    bottom: 8px;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
}

.card-sm {
    width: 100%;
    background-color: #A79277;
}

.card-text-top {
    top: 8px;
    bottom: unset;
}

.card-text-bottom {
    bottom: 8px;
    top: unset;
}

.card-text-left {
    left: 16px;
}

.card-text-right {
    right: 16px;
}

footer {
    font-weight: 100;
    font-size: 20px;
    color: #2C2A2A;
    text-align: center;
    margin-bottom: 16px;
}